# Checkpoints
notebooks/.ipynb_checkpoints/

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Compiled docs
docs/*.pdf
# md files confuse github pages and aren't needed for rendering
docs/*.md

# raw data
data/external/
data/raw/

